# managed by Ansible

Alias "/houdini" "{{ crayfish_install_dir }}/Houdini/src"
<Directory "{{ crayfish_install_dir }}/Houdini/src">
  FallbackResource /houdini/index.php
  Require all granted
  DirectoryIndex index.php
  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</Directory>
